[submodule "apps/web"]
	path = apps/web
	url = https://github.com/Kishax/kishax-web.git
[submodule "apps/mc"]
	path = apps/mc
	url = https://github.com/Kishax/kishax.git
[submodule "apps/api"]
	path = apps/api
	url = https://github.com/Kishax/kishax-api.git
[submodule "apps/terraria"]
	path = apps/terraria
	url = https://github.com/Kishax/kishax-terraria.git
