[submodule "apps/discord-bot"]
	path = apps/discord
	url = https://github.com/Kishax/discord-bot.git
[submodule "apps/web"]
	path = apps/web
	url = https://github.com/Kishax/kishax-web.git
[submodule "apps/auth"]
	path = apps/auth
	url = https://github.com/Kishax/kishax-auth.git
[submodule "apps/mc"]
	path = apps/mc
	url = https://github.com/Kishax/kishax.git
[submodule "apps/api"]
	path = apps/api
	url = https://github.com/Kishax/kishax-api.git
